div {
    box-sizing: border-box;
}

body {
    background-color: #dedede;
    margin: 0;
}

.background-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clear-float {
    clear: both;
}

header {
    background-color: white;
}

header #header-container {
    /* top=bottom=0, left=right=auto */
    position: relative;
}

header #header-container #logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: auto;
    float: left;
}

header #header-container #top_menu {
    /* margin-left equal #logo's width */
    margin-left: 150px;
    float: left;
}

header #header-container #top_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header #header-container #top_menu ul li {
    float: left;
}

header #header-container #top_menu ul li:last-child {
    display: none;
}

header #header-container #top_menu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 15px;
}

header #header-container #top_menu ul li a:hover {
    color: white;
    background-color: palevioletred;
}

#app-container #slider {
    width: 100%;
    padding-top: 40%;
    position: relative;
    background-image: url('../img/82-1021x580.jpg');
}

.button-center-vertical {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;    
}

#app-container {
    margin-top: 30px;
}

#app-container #slider #pre-button {
    background-image: url('../img/3-300x160.jpg');
    left: 0; 
}

#app-container #slider #next-button {
    background-image: url('../img/15-300x160.jpg');
    right: 0; 
}

#content {
    padding: 15px;
}

#content #content_header #btn_popular {
    float: left;

    background-color: blueviolet !important;
    color: white;
    text-transform: uppercase;
    padding: 7px 15px;
    border: none;
    outline: none;
}

#content #content_header #btn_popular {
    background-color: red;
}

#content #content_header #pre_next_button {
    float: right;
}

#content #content_body #item {
    margin: 15px 0;
}

#content #content_body #item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

#content #content_body #item h4 {
    margin: 5px 0;
}

#content #content_body #item p {
    margin: 0;
    font-size: 12px;
}

.item_center {
    margin-left: calc((100% - 3 * 280px) / 2) !important;
    margin-right: calc((100% - 3 * 280px) / 2) !important;
}

#content_footer #pagination {
    float: left
}

#content_footer #display_page_number {
    float: right;
}

#content_footer #display_page_number p {
    margin: 0;
}

#content_footer #pagination button {
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    padding: 8px 12px;
}

footer {
    background-color: gray;
}

footer #top_footer {
    padding: 15px;
}

footer #top_footer .top_footer_item {
    box-sizing: border-box;
    width: 280px;
    float: left;
}

footer #top_footer #center #list_footer_item .footer_item {
    margin: 15px 0;
}

footer #top_footer #center img {
    width: 90px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

footer #top_footer #center p {
    margin: 0;
}

footer #bottom_footer {
    background-color: pink;
}

footer #bottom_footer #bottom_left {
    float: left;
    padding: 15px 0;
}

footer #bottom_footer #bottom_right {
    float: right;
    padding: 15px 0;
}

.menu-icon {
    background-image: url('../img/menu.png');
    width: 8px;
    height: 17px;
}

.dropdown_content {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content {
    position: absolute;
    background-color: white;
    z-index: 999;
    width: 100%;
}